.left-side,
.right-side {
    height: 100vh
}
.shape {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #b832b8, #dfc6c4 70%);
    position: absolute;
    -webkit-clip-path: ellipse(500px 500px at 10% 5%);
    
}
.right-side {
    padding-top: 150px
}

.right-side h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2.4em;
    text-align: center;
    color: #ffffff;
}

.right-side p {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold
}
.btn.order-button {
    background: transparent;
    border: 2px solid #752975;
    color: #fec400;
    border-radius: 30%;
    transition: 0.7s
}

.btn.order-button:hover {
    border: 2px solid #ce0000;
    color: #ce0000
}
/*MultiSlide*/
#exampleSlider {
    position: relative;
    border: 1px solid black;
  }
  @media (max-width: 767px) {
    #exampleSlider {
      border-color: transparent;
    }
  }
  #exampleSlider .MS-content {
    margin: 0px 0px;
    overflow: hidden;
    white-space: nowrap; /*Văn bản tự sẽ không xuống dòng*/
    border: 1px solid red;
  }
  @media (max-width: 767px) {
    #exampleSlider .MS-content {
      margin: 0;
    }
  }
  #exampleSlider .MS-content .item {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    border: 1px solid green;
    border-right: none;
    width: 20%;
  }
  @media (max-width: 1200px) {
    #exampleSlider .MS-content .item {
      width: 25%;
    }
  }
  @media (max-width: 992px) {
    #exampleSlider .MS-content .item {
      width: 33.3333%;
    }
  }
  @media (max-width: 767px) {
    #exampleSlider .MS-content .item {
      width: 50%;
    }
  }
  #exampleSlider .MS-controls button {
    position: absolute;
    border: none;
    background: transparent;
    outline: 0;
    top: 35px;
  }
  @media (max-width: 767px) {
    #exampleSlider .MS-controls button {
      display: none;
    }
  }
  #exampleSlider .MS-controls button:hover {
    cursor: pointer;
  }
  #exampleSlider .MS-controls .MS-left {
    left: 10px;
    top: 50%;
  }
  @media (max-width: 992px) {
    #exampleSlider .MS-controls .MS-left {
      left: -2px;
    }
  }
  #exampleSlider .MS-controls .MS-right {
    right: 10px;
    top: 50%;
  }
  @media (max-width: 992px) {
    #exampleSlider .MS-controls .MS-right {
      right: -2px;
    }
  }
  /*MultiSlide*/
  /*Nike*/
.nike-homepage-item img {
  width: 100%;
  height: 100%;
}
.nike-homepage-item .img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.nike-homepage-item a:hover .img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.nike-homepage-item .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111111;
  margin: 30px 0 0 0;
}
.nike-homepage-item .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
}
.nike-homepage-item .info {
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.nike-homepage-item a:hover .info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.nike-homepage-item,
.nike-homepage-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nike-homepage-item a {
  color: #333;
}
.nike-homepage-item a:hover {
  text-decoration: none;
}
.nike-homepage-item {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 100%; /*316px;*/
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
/*END Nike*/
